.changepassword-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.changepassword-popup .popup-content {
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  text-align: left;
}

.changepassword-popup .close-button-top {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.changepassword-popup .popup-title {
  margin-bottom: 20px;
  font-size: 24px;
}


.changepassword-popup p {
  margin-bottom: 10px;
  font-size: 13px;
  color: #666;
  text-Align: left;
  margin-bottom: 20px;
}

.changepassword-popup .input-group {
  margin-bottom: 15px;
  text-align: left;
}

.changepassword-popup .input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.changepassword-popup .input-container {
  position: relative;
}

.changepassword-popup .input-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 20px;
}

.changepassword-popup .input-container input {
  width: calc(100% - 40px);
  padding: 10px;
  padding-right: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.changepassword-popup .update-password-button {
  margin-top: 15px;
  width: 100%;
  padding: 15px;
  background-color: #467E18;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.changepassword-popup .forgot-password-link {
  text-align: left;
  font-size: 14px;
  color: #467E18; /* Change the color to green */
  margin-top: 5px; /* Adjust margin-top to bring it closer to the input fields */
  display: inline-block; /* Make it display inline-block to adjust its positioning */
}
